# Enoki
NEXT_PUBLIC_ENOKI_API_KEY=your_enoki_api_key
ENOKI_SECRET_KEY=your_enoki_secret_key
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id

# Sui Network
NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_SUI_RPC_URL=https://fullnode.testnet.sui.io:443

# SuiNS
NEXT_PUBLIC_SUINS_PACKAGE_ID=0x22fa05f21b1ad71442491220bb9338f7b7095fe35000ef88d5400d28523bdd93

# SuiPatron Contract
NEXT_PUBLIC_PACKAGE_ID=0x6945b24f7de0ab5033354e138f62395cd6a6c774688c456781c6e0b77ab1a94f
