# Move build artifacts
build/
*/build/*

move/Published.toml

# Sui
.sui/
examples/**
more_seal/**

# Dependencies
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Test coverage
*.lcov
